baloofileinformationrc
htop
Code
codeblocks
dconf
filetypesrc
fontconfig
google-chrome
gtk-3.0
katemetainfos
KDE
kdeconnect
kde.org
kiorc
kwritemetainfos
mimeapps.list
pulse
qt5ct
qView
session
systemd
trashrc
yay
