/* Base styling for all Waybar elements */
* {
    border-radius: 10px;
    font-family: "JetBrainsMonoNL Nerd Font", "Symbols Nerd Font Mono", monospace;
    font-size: 14px; /* unified icon and text size */
    min-height: 10px;
    color: rgba(245, 245, 245, 0.7);
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0,0,0,0.5); /* subtle icon glow */
}

/* Waybar window */
window#waybar {
    background: rgba(255, 255, 255, 0.0);
    border: 0px solid rgba(245, 245, 245, 0.7);
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Workspace buttons */
#workspaces {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 6px;
}

#workspaces button {
    background: rgba(40, 42, 54, 0.2); /* subtle background */
    border-radius: 6px;
    font-size: 16px;
    padding: 0 6px;
    margin-right: 4px; /* spacing between buttons */
    transition: background 0.2s, color 0.2s;
}

#workspaces button.occupied {
    font-size: 16px;
}

#workspaces button.active {
    color: #ff79c6;
    background: rgba(245, 101, 167, 0.2);
}

#workspaces button:hover,
#workspaces button.focused:hover {
    color: #FAE3B0;
    background: rgba(245, 101, 167, 0.2);
}

/* Module styles */
#network,
#bluetooth,
#custom-mako,
#pulseaudio,
#backlight,
#clock,
#memory,
#temperature,
#cpu,
#tray,
#custom-now-playing {
    margin-left: 8px;
    padding: 2px 8px;
    margin-bottom: 6px;
    border-radius: 6px;
    background: rgba(40, 42, 54, 0.2);
    transition: background 0.2s, color 0.2s;
}

#battery {
    margin-right: 8px;
    padding: 2px 8px;
    margin-bottom: 6px;
    border-radius: 6px;
    background: rgba(40, 42, 54, 0.2);
    transition: background 0.2s, color 0.2s;
}

/* Hover effect for modules */
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#battery:hover,
#backlight:hover,
#clock:hover,
#memory:hover,
#temperature:hover,
#cpu:hover,
#tray:hover {
    background: rgba(245, 101, 167, 0.2);
    color: #ff79c6;
}

/* Battery specific states */
#battery.charging,
#battery.plugged {
    color: #161320;
    background-color: #ff79c6;
    border: 2px solid #ff79c6;
}

#battery.critical:not(.charging) {
    border: 2px solid rgba(245, 245, 245, 0.7);
    color: #161320;
    animation: blink 900ms linear infinite alternate;
}

@keyframes blink {
    from { border: 2px solid #ff79c6; background-color: #000000; color: #f5f5f5; }
    to { background-color: #ff79c6; color: #000000; }
}