* {
	border-radius: 10px;
	font-family: "JetbrainsMono Nerd Font";
	font-size: 14px;
	min-height: 10px;
}

window#waybar {
	background: rgba(255, 255, 255, 0.0);
	border: 0px solid #b7bdf8;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: transparent;
	background: transparent;
}

#workspaces {
	margin-left: 16px;
	margin-right: 16px;
	font-size: 4px;
	margin-bottom: 6px;
	border-radius: 10px;
	background: #363a4f;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #a5adcb;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button.occupied {
	transition: none;
	color: #cad3f5;
	background: transparent;
	font-size: 4px;
}

#workspaces button.active {
	color: #cad3f5;
	font-weight: bold;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
	border-color: #E8A2AF;
	color: #E8A2AF;
}

#workspaces button.focused:hover {
	color: #E8A2AF;
}

#network,
#bluetooth {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 16px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #cad3f5;
	background: #363a4f;
}

#pulseaudio {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 14px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #cad3f5;
	background: #363a4f;
}

#battery {
	margin-right: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 16px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #cad3f5;
	background: #363a4f;
}

#battery.charging,
#battery.plugged {
	color: #161320;
	background-color: #b7bdf8;
}

#battery.critical:not(.charging) {
	background-color: #b7bdf8;
	color: #161320;
	animation-name: blink;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	/* animation-direction: alternate; */
}

@keyframes blink {
	to {
		background-color: #f4dbd6;
		color: #161320;
	}
}

#backlight {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #cad3f5;
	background: #363a4f;
}

#clock {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 16px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #cad3f5;
	background: #363a4f;
	/*background: #1A1826;*/
}

#memory {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-right: 18px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #cad3f5;
	background: #363a4f;
}

#temperature {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-right: 18px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #cad3f5;
	background: #363a4f;
}

#cpu {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-right: 18px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #cad3f5;
	background: #363a4f;
}

#tray {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-right: 18px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #cad3f5;
	background: #363a4f;
}